.color-main {
    background-color: #073d78;
}

h1 {
    font-family: "Trebuchet MS";
    color: white;
}

.tab-header {
    color: #073d78;
}

a, a:hover {
    text-decoration: none;
}

p {
    font: 1em Verdana, Arial, Helvetica, sans-serif;
}

tr {
    cursor: pointer;
}

#searchInput, #tabs {
    margin-top: 1.1em;
}

.dataTables_filter {
    display: none;
}

.glyphicon-large {
    font-size: 1.4em;
}

.glyphicon-picture, .glyphicon-duplicate {
    color: #073d78;
}
